* {
   /* border: 1px solid rgb(244, 245, 244); */
 }

.MovieDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  img {
  margin: 0px;
  height: auto;
  width: 95%;
  border-radius: 10px 10px 0 0;
  }

  .home_button{
    display: flex;
    background-color: #3e49b1;
    color: #3e49b1;
  }

  .detail-section{
    background-color: white;
    width: 95%;
    border-radius: 0 0 10px 10px ;
  
    h2 {
      font-size: 45px;
      text-align: center;
      color: #3e49b1;
    }

    .genre_box{
      background-color: blueviolet;
    }
  
    ul {
      gap: 10px;
      display: block;
      padding: 0px 15px;
      text-align: center;
  
    }
  
    p {
      font-size: 15px;
      text-align: center;
      color: black;
    }
  
    button {
  
    }
  }
}


