 *{
   /* border: 1px solid rgb(245, 246, 245); */
 }
 .moviePoster {
    width: 200px;
  
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    

    img{
      height: 300px;
      border-radius: 10px 10px 0 0;
      }

    p{
      background-color: rgba(248, 244, 244, 0.973); 
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 16px;
      width: 100%;
      border-radius: 0 0 10px 10px ;
      }
 }

 .moviePoster:hover {
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
 }

 /* .moviePoster  */