 .moviePoster, .moviePoster img {
    background-color: #a5a8bf;
    width: 200px;
    height: 300px;
    border-radius: 25px;
    /* display: grid; 
    grid-template-columns: 1fr 1fr 1fr; */
 }

 .moviePoster p {
   position: absolute;
   bottom: 10px;
   z-index: 1;
 }